<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="content">
        <h1>About</h1>
        <div><ul>
            <li><a href="/">Home</a></li>
            <li><a href="/all">View All Papers</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        </div>
        <p>This project is brought to you by <a href="https://threatintelligencelab.com" target="_blank">ThreatIntelligenceLab.com</a>. We are not the owners of the papers that are collected and stored in our database. These papers are gathered automatically and are intended for educational and research purposes in the field of cybersecurity.</p>
        
        <p>ThreatIntelligenceLab respects the intellectual property rights of the authors of these papers. If a paper needs to be removed from our database, please contact us at <a href="mailto:support@threatintelligencelab.com?subject=Paper%20removal">support@threatintelligencelab.com</a> with the title 'Paper removal'. For the removal process, we will require the MD5 checksum of the paper to ensure accurate identification.</p>

        <p>This project has been developed by ThreatIntelligenceLab to gather knowledge and make it accessible to anyone interested in cybersecurity. Our founder, Reza Rafati, leads our efforts from The Netherlands, where we specialize in top-tier Cyber Threat Intelligence expertise services and consultancy.</p>
    </div>
</body>
</html>
